if todos.length
  .container
    .controls.columns 
      .column.col-4.text-center
        if todos.length 
          span= `${todos.length} ${todos.length === 1 ? 'item' : 'items'} left`  
      .column.col-4.btn-group.btn-group-block
        button.btn.btn-link All
        button.btn.btn-link Active
        button.btn.btn-link Completed
      .column.col-4
        button.btn.btn-link.p-centered Clear completed