.columns
  .column.col-1
    if todos.length
      button.btn.btn-action
        i.icon.icon-arrow-left
  .column.col-11
    input.form-input.input-lg(type='text' placeholder='What needs to be done?' hx-post='/todos?_format=table' hx-target='#todos-list')