.columns
  .column.col-1
    if todos.length
      button.btn.btn-link
        i.icon.icon-arrow-down
  .column.col-11
    input.strong.form-input.input-lg.no-border(type='text' placeholder='What needs to be done?' name="todo[title]" hx-post='/todos?_format=table' hx-target='#todos-list' autofocus)