extends ../../../views/layout

block variables
  - var selected = "todos";
  - var title = "Todos";

block content
  #todo-list-container.card.shadowed
    .container
      include _new
    #todos-list
      include _list_block
