extends ../../../views/layout

block variables 
  - var selected = "Pet"
  - var title = pet.name

block messages 
  if hasMessages 
    .message
      each message in messages
        p #{message}

block content
  h1 This is pet: #{pet.name}
  h2
    a(href="/pet/" + pet.id + "/edit") Edit
  h2
    a(href="/pet/" + pet.id) Delete