section.navbar-section
  a.page-title.navbar-brand.text-bold.mr-2(href="/", title="Flash TodoMVC") Flash TodoMVC #{(title) ? "- " + title : ""}
section.navbar-section
  a.btn.btn-link(href="/todos") TodoMVC Demo
  a.btn.btn-link(href="/docs") Docs
  if authenticated
    a.btn.btn-link(href="/profile") Profile: #{user.displayName}
    a.btn.btn-link(hx-post="/logout", hx-target='body') Logout
  if !authenticated
    a.btn.btn-link(href="/login") Log In
