block variables
  - var selected = 'Home';
  - var title = 'Home';

mixin messages(messages)
  if messages.length > 0
    .messages
      each message in messages 
        .message.flash(class=message.type)= message.text

doctype html
html(lang='en', data-theme='light')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href='https://unpkg.com/spectre.css/dist/spectre.min.css')
    link(rel="stylesheet", href='stylesheets/style.css')
    script(src='https://unpkg.com/htmx.org@1.8.2')
    //- link(rel='stylesheet', href='https://unpkg.com/@picocss/pico@latest/css/pico.min.css')
    title Flashcards #{title}
  body
    header.navbar
      section.navbar-section
        a.page-title.navbar-brand.text-bold.mr-2(href="/", title="Flashcards Home") Flashcards #{(title) ? "- " + title : ""}
      section.navbar-section
        if user == undefined
          a.btn.btn-link(href="/tags") Tags
          a.btn.btn-link(href="/cards") Cards
          a.btn.btn-link(href="/quizzes") Quizzes
          a.btn.btn-link(href="/user/login") Log In
        else
          a.btn.btn-link(href="/dashboard") Dashboard
          a.btn.btn-link(href="/user/logout") Logout
    main.container.grid-lg
      +messages(messages)
      block content

    hr.bottom
    footer Built with #[a(href='https://expressjs.com/') Express.js], login powered by #[a(href='https://developer.okta.com/') Okta].