block variables
  - var selected = 'Home';
  - var title = 'Home';

mixin messages(messages)
  if messages.length > 0
    .messages
      each message in messages 
        .message.flash(class=message.type)= message.text

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://unpkg.com/@picocss/pico@latest/css/pico.min.css')
    title Flashcards #{title}
  body
    header.container
      nav
        ul
          li
            h1.page-title Flashcards #{(title) ? "- " + title : ""}
        ul
          li
            strong
              a(href="/", title="Home") Home
          if user == undefined
            li
              a(href="/tags") Tags
            li
              a(href="/cards") Cards
            li
              a(href="/quizzes") Quizzes
            li
              a(href="/user/login") Log In
          else
            li
              a(href="/dashboard") Dashboard
            li
              a(href="/user/logout") Logout
    main.container
      +messages(messages)

      section
        block content

    hr.bottom
    footer Built with #[a(href='https://expressjs.com/') Express.js], login powered by #[a(href='https://developer.okta.com/') Okta].
      //- script(src='https://unpkg.com/htmx.org@1.8.2')