extends ../../../views/layout

block variables
  - var selected = "Quiz";
  - var title = "Quizzes";

block content 
  h2 Create quiz
  section.new
    form#quiz-new.new(action="/quizzes/", method="POST")
      .form-group
        label.form-label(for="quiz-length") Quiz length
        input#quiz-length.form-input(type="number", name="quiz[length]", value="10", min="5", max="100", autofocus)
        label.form-label(for="quiz-side") Preferred side
        select#quiz-side.form-select(name="quiz[side]")
          option(value='front' selected) Front
          option(value='back') Back
          option(value='any') Any
      .form-group
        label.form-label Choose a tag:
        select#tag-select.form-select(name="quiz[tag]")
          option(value='' selected) -- choose a tag --
          each tag in tags
            option(value=tag.id)= tag.name
    .footer
      .form-group
        input.btn.btn-primary(type="submit", form="quiz-new", value="Submit")
        button.btn.btn-secondary(hx-get="/quizzes", hx-target="body") Cancel