body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.semi-transparent {
    backdrop-filter: blur(5px);
    background: rgba(247,248,249,.65);
}

.navbar {
    height: 3.8rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

body > main {
    margin-top: 3.8rem;
}

body > footer {
    border-top: 1px solid #999;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.list > .item {
    align-items: center;
    background-color: #fff;
    /* box-shadow: 0 1px 2px #ddd; */
    border-radius: 3px;
    border: 0.5px solid #eee;
    display: flex;
    margin-bottom: 1rem;
    padding: 5px 0;
}

.flashcard {
    align-items: center;
    border: 0.5px solid #eee;
    border-radius: 3px;
    box-shadow: 0 5px 10px #ddd;
    display: flex;
    justify-content: center;
    min-height: 10rem;
    padding: 1rem;
    text-shadow: 0 1px 2px #999;
}
