extends ../../../views/layout

block variables
  - var selected = "Card"

block messages 
  if hasMessages 
    .message
      p MESSAGE: #{messages.length} 

block content
  h1 This is the CARD page
  .cards
    each card in cards
      .card
        a(href="/cards/" + card.id, title=card.front)= card.front