extends ../../../views/layout

block variables
  - var selected = "Card"
  - var title = "Cards"

block content 
  h2 Create card
  form.new.card(action="/cards/", method="POST")
    .label 
      label(for="card-front") Card front
    .input.front 
      input#card-front(type="text", name="front", vaue="", autofocus)
    .label 
      label(for="card-back") Card back
    .input.back 
      textarea#card-back(name="back")
    .label
      label Tag(s):
    .input.tags
      legend Choose tags
      each tag in tags
        .tag
          input(type="checkbox", id="tag_#{tag.id}", name="tags", value=tag.id)
          label(for="tag_#{tag.id}")= tag.name
      //- select#tag-select(name="tags")
      //-   option(value="") -- choose a tag --
      //-   each tag in tags 
      //-     option(value=tag.id)= tag.name
    .input.submit
    input(type="submit", value="Submit")