extends ../../../views/layout

block variables
  - var selected = "Card"
  - var title = "Cards"

block content 
  h2 Create card
  form.new.card(action="/cards/", method="POST")
    .label 
      label(for="card-front") Card front
    .input.front 
      input#card-front(type="text", name="card[front]", vaue="", autofocus)
    .label 
      label(for="card-back") Card back
    .input.back 
      textarea#card-back(name="card[back]")
    .label
      label Tag(s):
    .input.tags
      legend Choose tags
      each tag in tags
        .tag
          input(type="checkbox", id=`tag_${tag.id}`, name="card[tagId]", value=tag.id)
          label(for=`tag_${tag.id}`)= tag.name
    .input.submit
    input(type="submit", value="Submit")