extends ../../../views/layout

block variables
  - var selected = "Card";
  - var title = "Cards";

block content
  h2 Card
  .card.card-item.item
    .card-header
    .card-body.card-item
      include _show_card
    .card-footer
      .controls
        if user && user.id === card.owner
          button.btn.btn-primary(hx-get=`/cards/${card.id}/edit`, hx-target='body')= `Edit ${card.front}`
          button.btn.btn-error(hx-post=`/cards/${card.id}?_method=delete`, title='delete card', hx-target='body', hx-confirm="Are you sure you wish to delete this card?")= `Delete ${card.front}`