extends ../../../views/layout

block variables
  - var selected = "Tag";
  - var title = "Tags";

block content
  h2 Tags
  section.header.
    (#{tags.length} #{(tags.length !== 1) ? 'tags' : 'tag'})
  section.tags.list.container
    each tag in tags
      .item.columns
        .name.column.col-12 #{tag.name}
  section.footer
    if user
      button.new.btn.btn-primary.btn-block(hx-get="/tags/new", title="new tag", hx-push-url="true", hx-target='body') Create new tag